body {
	font-family: 'Fredoka', sans-serif;
}
.restuarant-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 20px;
}

.search {
	padding: 10px;
}

.top-rated-res-btn {
	margin: 15px;
	padding: 10px;
	cursor: pointer;
}
.top-rated-res-btn-active {
	color: white;
	background-color: black;
}
